.darkMode {
  --bg-secondary: rgb(21, 21, 21) !important;
  --bg-ternary: rgb(26, 26, 26) !important;
  --color: #c1c1c1 !important;
  --color-secondary: rgb(178, 160, 88) !important;
  --bg: #000 !important;
  --color-red-dark: #ec0000;
  --color-green-dark: #1ad500;
  transition: 0.3s;
}

.lightMode {
  --bg-secondary: #ececec !important;
  --bg-ternary: #948686 !important;
  --color: #5b5b5b !important;
  --color-secondary: #504000 !important;
  --bg: #ffffff !important;
  --color-red-dark: #990000;
  --color-green-dark: #0c6100;
  transition: 0.3s;
}

.container {
  display: flex;
  color: var(--color);
  background: var(--bg);
  font-size: 14px;
  height: 100vh;
  overflow: auto;
}

thead {
  position: sticky;
  top: 0;
}

.table {
  overflow-y: auto;
  text-align: right;
}

.shortTable {
  max-height: 50vh !important;
  overflow-y: auto;
  text-align: right;
}

table,
td,
th {
  border: 0;
  border-collapse: collapse;
}

td {
  padding: 4px 8px;
}

th {
  cursor: pointer;
  user-select: none;
  color: var(--color);
  z-index: 1;
  padding: 8px;
  font-size: 16px;
  background-color: var(--bg) !important;
}

.activeCell {
  background: var(--color-green-dark);
  color: var(--bg) !important;
  font-weight: bold;
}

.inActiveCell {
}

table {
  min-width: 100% !important;
}

tr {
  margin-top: 1px !important;
}

.tableRowActive {
  background-color: var(--bg);
}

.textAlignLeft {
  text-align: right;
}

.textAlignRight {
  text-align: right;
}

.cursorPointer {
  cursor: pointer;
}
.cursorSelect {
  cursor: inherit;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  background: var(--bg-secondary);
}

.cardValue {
  font-size: 24px;
  font-weight: 500;
  margin: 0 16px 16px;
  display: flex;
}

.floatRight {
  text-align: right !important;
  font-size: 20px !important;
  font-weight: 400 !important;
  margin: 0 8px !important;
}

.cardLabel {
  font-size: 24px;
  font-weight: 900;
  margin: 16px 16px 8px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.colorNegative {
  color: var(--color-red-dark);
}

.colorPositive {
  color: var(--color-green-dark);
}

.colorNormal {
  color: var(--color);
}

.toggleContainer {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  margin-top: 16px;
}

.toggleContainer > .text {
  font-size: 16px;
  margin: 0 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 32px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle:before {
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: var(--bg-secondary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .toggle:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded toggles */
.toggle.round {
  border-radius: 16px;
}

.toggle.round:before {
  border-radius: 50%;
}

.grid3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.leftSideBar {
  padding: 12px 24px;
  color: var(--color);
  width: 260px;
  border-right: 1px solid var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.tab {
  padding: 8px 16px;
  font-size: 14px;
  margin: 16px 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-left: 2px solid var(--bg);
}

.activeTab {
  background: var(--bg-secondary);
  border-left: 2px solid var(--color-secondary);
}

.tabText {
  margin-left: 8px;
}

.header {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-secondary) !important;
  letter-spacing: 1px;
  margin: 16px 8px;
}

input[type='file'] {
  display: none;
}

.customFileUpload {
  display: inline-block;
  cursor: pointer;
}

.contentContainer {
  padding: 24px;
  margin-left: 260px;
}

.gridContainer {
  display: flex;
  flex-wrap: wrap;
}

.roundedCard {
  border-radius: 6px;
  margin: 8px;
  min-width: 300px;
}

.cursorPointer {
  cursor: pointer;
}
