@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

* {
  font-family: 'Space Grotesk', sans-serif;
  --color-black-secondary: #050404;
  --color-orange: #ff6a28;
  --color-purple: #5d3af3;
  --color-yellow: #fcbc30;
  --color-blue: #0066fe;
  --color-pink: #ecb0fd;
  --color-white: #aaaaaa;
  --color-transparent: transparent;
}

.container {
  height: 100vh;
  background: var(--color-black-secondary);
}

.headerItem {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--color-white);
  margin: 3rem 4rem 3rem 0;
  display: flex;
}

.textContent {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: var(--color-white);
  margin: 3rem 4rem 2rem 0;
  display: flex;
}

.header {
  display: flex;
  align-items: center;
}

.headerLeft {
  flex: 1;
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
  padding-left: 5rem;
}

.headerRight {
  flex: 3;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--color-white);
}

.mlauto {
  margin-left: auto;
}

.textLarge {
  font-size: 64px;
  line-height: 72px;
  font-weight: 500;
  color: var(--color-white);
}

.textBlue {
  color: var(--color-blue);
}

.contentArea {
  flex: 1;
  display: flex;
  margin-bottom: 1rem;
}

.contentLeft {
  flex: 1;
  padding: 7rem 5rem 2rem;
}

.contentRight {
  flex: 1;
  padding: 5.5rem 2rem 2rem 10rem;
}

.button {
  outline: none;
  border: 1px solid var(--color-white);
  border-radius: 3rem;
  padding: 1.8rem 2.5rem;
  font-size: 1.2rem;
  color: var(--color-white);
  background: transparent;
  width: 80%;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.button:hover {
  background: var(--color-white);
  color: var(--color-black-secondary);
}

.colorStrip {
  height: 6rem;
  margin-bottom: 1.8em;
  border-radius: 3rem;
  filter: contrast(150%) brightness(80%);
  opacity: 0.7;
}

.colorStrip1 {
  margin-right: -3rem;
  background: linear-gradient(
        70deg,
        var(--color-transparent) 59%,
        var(--color-purple)
      )
      100%,
    linear-gradient(90deg, var(--color-black-secondary) 30%, #0000004a),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 122 122' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.24' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%' height='100%' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.colorStrip2 {
  margin-right: 30%;
  background: linear-gradient(
      90deg,
      var(--color-transparent) 49%,
      var(--color-pink) 100%
    ),
    linear-gradient(140deg, var(--color-black-secondary) 30%, #0000004f),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 122 122' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.24' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%' height='100%' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.colorStrip3 {
  margin-left: 30%;
  background: linear-gradient(
      90deg,
      var(--color-yellow) 12%,
      var(--color-transparent) 86%
    ),
    linear-gradient(270deg, var(--color-black-secondary), #0000009b 10%),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 122 122' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.24' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%' height='100%' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.colorStrip4 {
  margin-right: 10%;
  background: linear-gradient(
      120deg,
      var(--color-transparent) 40%,
      var(--color-orange) 61%
    ),
    linear-gradient(120deg, var(--color-black-secondary) -160%, #00000087),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 122 122' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.24' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%' height='100%' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 200, 'opsz' 48;
}

svg {
  width: 100vw;
  height: 100vh;
}
